
/*WordCamp Kolhapur CSS START*/
header
{
	box-shadow: 0px 1px 0px 0px rgba(27, 31, 36, 0.04) !important;
	margin-bottom:2px !important;
}
*{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1,h2,h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
.kopwc-navigation a,.kopwc-navigation a:where(:not(.wp-element-button)){
	font-family: "Poppins", sans-serif;
    font-weight: 400 !important;
    font-style: normal;
  }
h4,h5,h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
/*
.entry-content > :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce) {
	width: 100%;
	max-width: 1240px;
}
*/
body,main{
background:#ffffff !important;
}
.entry-content p{
    margin-bottom:20px;
}
.wp-site-blocks{
	padding-top:0px !important;
	padding-bottom:0px !important;
}

.kolhapur-news-box li {
	margin-bottom: 20px !important;
	box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
	display: block;
	overflow: hidden;
	border-radius: 10px !important;
}

.kolhapur-news-box li img {
	box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
}

#kp-gold-sponsors img {
	box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px;
	border-radius: 10px;
}

@media screen and (max-width: 599px) {
	footer{
		text-align:center !important;
	}
	footer .wp-block-image
	{
		margin-left:auto;
		margin-right:auto;
	}
	.wckop-footer-navigation ul.wckop-footer-navigation, .wckop-footer-copyright{
		display: flex !important;
		flex-direction: column !important;
		text-align:center !important;
	}
	.wckop-footer-copyright{
		justify-content: center !important;
		
	}
	.wckop-footer-copyright p{
		text-align: center !important;
	}
	footer .wp-block-social-links{
		margin-left:0px !important;
		margin-inline-start: 0px !important;
		justify-content: center !important;
		flex-wrap: nowrap !important;
		margin-bottom: 20px !important;
	}
	
}
