
/*WordCamp Kolhapur CSS START*/
header
{
	box-shadow: 0px 1px 0px 0px rgba(27, 31, 36, 0.04) !important;
	margin-bottom:2px !important;
}
*{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1,h2,h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
.kopwc-navigation a,.kopwc-navigation a:where(:not(.wp-element-button)){
	font-family: "Poppins", sans-serif;
    font-weight: 400 !important;
    font-style: normal;
  }
h4,h5,h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
/*
.entry-content > :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce) {
	width: 100%;
	max-width: 1240px;
}
*/
body,main{
background:#ffffff !important;
}
header nav,header nav ul li a,header nav ul li{
	font-family: "Poppins", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal;
}
.entry-content p{
    margin-bottom:20px;
}
.wp-site-blocks{
	padding-top:0px !important;
	padding-bottom:0px !important;
}

.kolhapur-news-box li {
	margin-bottom: 20px !important;
	box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
	display: block;
	overflow: hidden;
	border-radius: 10px !important;
}

.kolhapur-news-box li img {
	box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
}
a:hover{
	color:#FF6600;
}
header nav a:hover,footer nav a:hover,header nav a:active,footer nav a:active{
	color:#FF6600 !important;
}
.wp-block-button__link:hover{
	color:#ffffff !important;
	background:#064006 !important;
}
#kp-gold-sponsors img {
	box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px;
	border-radius: 10px;
}
#commentform #submit,#tix input[type=submit]{
	background:#006b00 !important;
	color:#ffffff !important;
	border-radius: 4px !important;
}
#tix input[type=submit]{
	padding:8px 15px !important;
	font-size:1.1em !important;
}

/* Tickets Table */
.tix_tickets_table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}
/* Tickets form */
#tix .tix-ticket-form,
	#tix .tix-tickets-list,
	#tix .tix-order-summary,
	#tix .tix-submit,
	#tix .tix-attendee-form {
	width: 100%;
}

#tix .tix-ticket-form,
	#tix .tix-tickets-list,
	#tix .tix-order-summary {
	border-spacing: 0;
	border-collapse: collapse;
}

#tix .tix-ticket-form thead th, #tix .tix-tickets-list thead th, #tix .tix-order-summary thead th {
	border-bottom: 2px dashed var(--wp--preset--color--accent);
	background-color: #FAF1E6 !important;
}

#tix .tix-ticket-form th,
		#tix .tix-tickets-list th,
		#tix .tix-order-summary th,
		#tix .tix-ticket-form td,
		#tix .tix-tickets-list td,
		#tix .tix-order-summary td {
	padding: 1em .8em;
}

#tix .tix-attendee-form,
		#tix .tix-attendee-form tr,
		#tix .tix-attendee-form td,
		#tix .tix-attendee-form th {
	display: block;
	width: 100%;
}

#tix .tix-attendee-form .tix-left {
	padding-bottom: 0;
	margin-bottom: .25rem;
}

#tix .tix-attendee-form .tix-right {
	padding-left: 0;
}

#tix .tix-attendee-form input[type="text"],
		#tix .tix-attendee-form input[type="email"],
		#tix .tix-attendee-form input[type="url"],
		#tix .tix-attendee-form textarea,
		#tix .tix-attendee-form {
	width: 100%;
	box-sizing: border-box;
}

#tix .tix-attendee-form fieldset {
	margin-top: .5rem;
}

#tix .tix-attendee-form fieldset label {
	display: inline-block;
	margin-bottom: .5em;
	font-size: 1rem;
	vertical-align: middle;
}

#tix .tix-attendee-form fieldset label input {
	margin-right: .5rem;
}

@media (max-width: 600px) {
	#tix .tix-attendee-form fieldset label {
		font-size: inherit;
	}
}

#tix .tix-submit {
	float: none;
	margin: var(--wp--preset--spacing--30) auto var(--wp--preset--spacing--50);
}

#tix .tix-submit .tix-checkout-button {
	text-transform: none;
	letter-spacing: 0;
	border-radius: 2px;
	padding: .5rem 1rem;
	background: var(--wp--preset--color--contrast);
	color: var(--wp--preset--color--base);
	font-size: 1.125rem;
	font-family: var(--wp--preset--font-family--inclusive-sans);
}

#tix .tix-submit .tix-checkout-button:hover,
		#tix .tix-submit .tix-checkout-button:focus {
	background: var(--wp--preset--color--contrast-2);
}

.tix-column-price,
.tix-column-per-ticket,
.tix-column-quantity,
.tix-row-total {
	text-align: right;
}

.tix-column-remaining {
	display: none;
}

.tix-ticket-form input[type="text"],
	.tix-private-form input[type="text"],
	.tix-attendee-form input[type="text"],
	.tix-receipt-form input[type="text"],
	.tix-ticket-form input[type="email"],
	.tix-private-form input[type="email"],
	.tix-attendee-form input[type="email"],
	.tix-receipt-form input[type="email"],
	.tix-ticket-form input[type="url"],
	.tix-private-form input[type="url"],
	.tix-attendee-form input[type="url"],
	.tix-receipt-form input[type="url"],
	.tix-ticket-form textarea,
	.tix-private-form textarea,
	.tix-attendee-form textarea,
	.tix-receipt-form textarea {
	padding: .5em;
}

.tix-ticket-form select, .tix-private-form select, .tix-attendee-form select, .tix-receipt-form select {
	padding: .5em;
}

.tix-ticket-form tr > *, .tix-private-form tr > *, .tix-attendee-form tr > *, .tix-receipt-form tr > * {
	padding-bottom: 1em;
}

.tix-ticket-form .tix-right, .tix-private-form .tix-right, .tix-attendee-form .tix-right, .tix-receipt-form .tix-right {
	padding-left: 2em;
}

.tix-row-coupon td {
	padding-inline: 0;
}

#tix-coupon-container[style*="block"] {
	display: flex !important;
	justify-content: flex-end;
}

#tix-coupon-container[style*="block"] input[type="text"] {
	flex: 1;
	font-size: var(--wp--preset--font-size--small);
}

#tix-coupon-container[style*="block"] input[type="submit"] {
	padding-block: calc(var(--wp--preset--spacing--10) / 2);
	font-size: var(--wp--preset--font-size--small);
}
@media screen and (max-width: 599px) {
	footer{
		text-align:center !important;
	}
	footer .wp-block-image
	{
		margin-left:auto;
		margin-right:auto;
	}
	.wckop-footer-navigation ul.wckop-footer-navigation, .wckop-footer-copyright{
		display: flex !important;
		flex-direction: column !important;
		text-align:center !important;
	}
	.wckop-footer-copyright{
		justify-content: center !important;
		
	}
	.wckop-footer-copyright p{
		text-align: center !important;
	}
	footer .wp-block-social-links{
		margin-left:0px !important;
		margin-inline-start: 0px !important;
		justify-content: center !important;
		flex-wrap: nowrap !important;
		margin-bottom: 20px !important;
	}
	#modal-1{
		background:#faf1e6 !important;
		text-align: center !important;
	}
	#modal-1 #modal-1-content ul
	{
		width:100% !important;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	#modal-1 #modal-1-content ul li{
		width:100% !important;
		align-items: center;
		justify-items: center;
		display: flex;
		flex-direction: column;
	}
	#modal-1 #modal-1-content ul li,#modal-1 #modal-1-content ul li a{
		text-align: center;
	}
	#wckop-home-hero-cta,#wckop-home-hero-cta p{
		text-align: center !important;
	}
}
